[Unit]
Description=Demo Service

[Service]
Type=simple
User=root
Group=root
ExecStart=/home/ubuntu/todo-list-test/venv/bin/python3 /home/ubuntu/todo-list-test/script.py
Restart=always
WorkingDirectory=/tmp
Nice=19
LimitNOFILE=16384

[Install]
WantedBy=multi-user.target